.statistics{
  background-color: rgb(231, 140, 35);
  width: 90%;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 5px;
  }
  
  .title {
      font-size: 1.4rem;
      color: white;
  }
  
  .statList {
      display: flex;
      list-style: none;
      justify-content: center;
      width: 70%;
      border-radius: 20px;
  }
  
  .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex-grow: 1;
      background-color: var(--color);
      padding: 10px;
  }
  
  .label {
      color: white;
  }
  
  .percentage {
      color: white;
  }